@charset "UTF-8";
/* CSS Document */

html, body{
	background:white;
	font-family:Verdana,serif;
	color:#5a5a5a;
}

a{
	text-decoration:none;
	outline:none;
    color: #4169e1;
}

a:hover{
	text-decoration:underline;
    color: #ff4500;
}

p{
	margin:10px 0;
	line-height:16px;
}

ul, ol{
	list-style-position:inside;
}

.header{
    background-color:#fafad2;
    padding: 10px;
}


.main{
    /*padding:20px*/
}



.post{
    background-color:#dbedff;
    margin:10px
}

.captcha{
    border-style:solid;
    border-width:4px;
    border-color:#d3d3d3;
    margin-top:10px;
    margin-bottom:10px;
    padding: 3px;
}

.message{
    background-color:#ffdede;
}

.post_content{
    border-style:solid;
    border-width:1px;
    border-color:#d3d3d3;
    background-color:#fafad2;
}

.footer{
    background-color:#fafad2;
    padding: 10px;
}


