<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="JsonLog4j2Layout">
    <Appenders>

        <SystemOutAppender name="SystemOutAppender" >
            <JsonLog4j2Layout   dateFormat="yyyy-MM-dd HH:mm:ss.SSS"/>
        </SystemOutAppender>

    </Appenders>
    <Loggers>

        <Logger name="org.apache.activemq.audit.base" level="off"/>
        <Logger name="org.apache.activemq.artemis.core.server" level="off"/>
        <Logger name="org.apache.activemq.audit.message" level="off"/>
        <Root level="info">
            <AppenderRef ref="SystemOutAppender"/>
        </Root>
    </Loggers>
</Configuration>
